<button (click)="createNewProduct()">agregar</button>
<button (click)="toggleProductdetail()">click</button>
<p>cantidad {{myShoppingCart.length}}</p>
<p>Total: ${{total}}</p>
<div class="products--grid">
    <app-product [producto]="prod" *ngFor="let prod of products"
        (addedProduct)="onAddtoShoppingCart($event)"
        (showProduct)="onShowDetail($event)"
    ></app-product>
</div>
<div class="product-detail" [class.active]="showProductdetail">
    <div *ngIf="productChosen">
        <button (click)="toggleProductdetail()">Close</button>
        <h1>{{productChosen.title}}</h1>
        <img [src]="productChosen.images" alt="">
        <p>{{productChosen.description}}</p>
    </div>
</div>