@import url('https://fonts.googleapis.com/css2? family= Quicksand:wght@300;400;500;600;700 & display=swap');
@import url(../src/style/reset.scss);

*{
    font-family: 'Quicksand', sans-serif;
}

.products--grid{
    app-img{
        img{
            border-radius: 10%;
        }
    }
}